{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}"
                class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
              class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module"
              class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="bazzilla_status" id="input-status" class="form-control">
                {% if bazzilla_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          {% if is_invalid_session %}
            <div class="form-group">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <b>Введите api-токен личного кабинета для доступа к функции синхронизации</b>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">Токен</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="bazzilla_api_token">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status"></label>
              <div class="col-sm-10">
                <button type="submit" form="form-module" data-toggle="tooltip"
                        title="Использовать эти данные для авторизации"
                        class="btn btn-primary">Применить
                </button>
              </div>
            </div>
          {% else %}
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status"></label>
              <div class="col-sm-10">
                <p>Вы находитесь в личном кабинете <b>{{ bazzilla_login }}</b></p>
                <a class="btn btn-danger" href="{{ logout }}">Выйти</a>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">Выберите инвентарь</label>
              <div class="col-sm-10">
                <select name="bazzilla_inventory" id="input-status" class="form-control">
                  <option value="">-Инвентарь не выбран-</option>
                  {% for inventory in inventories %}
                    <option {% if bazzilla_inventory == inventory.id %} selected {% endif %}
                        value="{{ inventory.id }}">{{ inventory.title }} ({{ inventory.totalProducts }})
                    </option>
                  {% endfor %}
                </select>
                {% for inventory in inventories %}
                  {% if bazzilla_inventory == inventory.id %}
                    <input type="hidden" id="inventory_count" value="{{ inventory.totalProducts }}">
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">Количество товаров за запрос (рекомендуемое
                количество 50)</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="bazzilla_per_request" value="{{ bazzilla_per_request }}">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">Загрузить категории Bazzilla</label>
              <div class="col-sm-10">
                <button data-action="{{ action_categories }}" id="load-categories" type="button" class="btn btn-primary">Загрузить</button>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">Синхронизировать товары</label>
              <div class="col-sm-10">
                <button id="sync-products" type="button" class="btn btn-primary">Синхронизировать</button>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Очистить систему (удалит все категории и товары Bazzilla)</label>
              <div class="col-sm-10">
                <button data-action="{{ action_clear }}" id="clear-products" class="btn btn-danger" type="button">
                  Очистить
                </button>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">История</label>
              <div class="col-sm-10">
                <ul id="bazzilla-history"></ul>
              </div>
            </div>
          {% endif %}

        </form>
      </div>
    </div>
  </div>
</div>

<script>

    $('#clear-products').click(function () {
       var isConfirm = confirm('Вы уверены, что хотите произвести очистку?');
       if (isConfirm) {
           var url = $(this).attr('data-action');
           $.ajax({
               url: url,
               type: 'get',
               success: function(res) {
                   var $bazzillaResult = $('#bazzilla-history');
                   $bazzillaResult.prepend(listItem('<b style="color: green">Продукты и категории очищены</b>'));
               }
           })
       }
    });

    $('#sync-products').click(function () {
        var $bazzillaResult = $('#bazzilla-history');
        $(this).attr('disabled', 1);
        $bazzillaResult.prepend(listItem('Начало синхронизации... Пытаемся считать первый пак'));

        var isDone = false;

        console.log(syncBazzilla(0, $bazzillaResult, $(this), true, 0));
    });

    function syncBazzilla(offset, $bazzillaResult, $button, isFirst, bazzillaCount, isError = false) {

        var inventoryCount = parseInt($('#inventory_count').val());

        if (!isFirst && offset >= inventoryCount) {
            $bazzillaResult.prepend(listItem('<b style="color: green">Синхронизация успешно завершена!<b>'));
            $button.attr('disabled', 0);
            return;
        }

        var count = offset + {{ bazzilla_per_request }};

        if (isError) {
          count = offset;
        }
        
        var timeout = 30000;

        $.ajax({
            url: '/index.php?route=extension/module/bazzilla_sync&lang=ru&offset=' + count,
            type: 'GET',
            success: function (res) {
                var response = JSON.parse(res);

                if (response.success == true) {
                    $bazzillaResult.prepend(listItem('Пак ' + count + ' успешно обработан. Запускаем следующий'));
                    syncBazzilla(count, $bazzillaResult, $button, false, response.count);
                    return response;
                } else {
                    $bazzillaResult.prepend(listItem('Ошибка загрузки пака, пробуем повторить через 30 секунд'));
                    setTimeout(function() {
                      syncBazzilla(count, $bazzillaResult, $button, false, count, true);
                    }, timeout);
                    return response;
                }

            },
            error: function (err) {
                $bazzillaResult.prepend(listItem('Серверная ошибка. Пробуем повторить через 30 секунд'));
                setTimeout(syncBazzilla(count, $bazzillaResult, $button, false, count, true), timeout)
                return -1;
            }
        });
    }

    function listItem(text) {
        return "<li>" + text + "</text>";
    }
</script>

<script>
    $('#load-categories').click(function () {
        $('#bazzilla-history').prepend("<li>Начинаю загружать категории</li>");
        $.ajax({
            url: $(this).attr('data-action'),
            type: 'get',
            success: function () {
                $('#bazzilla-history').prepend("<li><b style='color: green'>Категории успешно загружены</b></li>");
            },
            error: function () {
                $('#bazzilla-history').prepend("<li>Ошибка при загрузке категорий</li>");
            }
        })
    });
</script>

<style>
    #bazzilla-history {

        max-height: 200px;
        height: 200px;
        overflow-y: auto;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px 25px;
    }
</style>

{{ footer }}